aiohttp==3.6.2
amqp==2.5.2
asgiref==3.2.3
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.1.2
Automat==0.8.0
beautifulsoup4==4.8.2
billiard==3.6.1.0
boto3==1.11.5
botocore==1.14.5
celery==4.4.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
constantly==15.1.0
cryptography==2.8
daphne==2.4.1
decorator==4.4.1
discord.py==1.3.4
Django==3.1.6
django-admin-actions==0.1.1
django-admin-easy==0.5.1
django-bootstrap4==1.1.1
django-environ==0.4.5
-e git+https://github.com/JBKahn/django-jsonview@23f1f02fd16f49ff057de3c5b604ac785410a553#egg=django_jsonview
django-redis==4.11.0
django-storages==1.8
docutils==0.15.2
future==0.18.2
hyperlink==19.0.0
idna==2.8
imageio==2.6.1
imageio-ffmpeg==0.3.0
incremental==17.5.0
jmespath==0.9.4
kombu==4.6.7
moviepy==1.0.1
multidict==4.7.4
numpy==1.18.1
oauthlib==3.1.0
Pillow==7.0.0
proglog==0.1.9
psycopg2-binary==2.8.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
pycrypto==2.6.1
PyHamcrest==2.0.0
pyOpenSSL==19.1.0
python-dateutil==2.8.1
python-telegram-bot==12.3.0
python-twitter==3.5
pytz==2019.3
redis==3.3.11
requests==2.22.0
requests-oauthlib==1.3.0
s3transfer==0.3.1
sentry-sdk==0.14.0
service-identity==18.1.0
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
tornado==6.0.3
tqdm==4.41.1
Twisted==19.10.0
txaio==18.8.1
urllib3==1.25.7
vine==1.3.0
websockets==6.0
yarl==1.4.2
zope.interface==4.7.1
