[Unit]
Description=screenuploader discord bot
After=network.target

[Service]
Type=simple
User=http
Group=http
WorkingDirectory=/srv/apps/screenuploader
ExecStart=/srv/apps/screenuploader/venv/bin/python /srv/apps/screenuploader/manage.py start_discord_bot
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
