{% extends '_base.html' %}

{% block title %}Index{% endblock %}

{% block body %}
    <div class="container">
        <h1>sys-screenuploader</h1>

        <p>
            This is a forwarding service for <a href="https://github.com/bakatrouble/sys-screenuploader" target="_blank">sys-screenuploader</a>.
        </p>

        <p>
            <code>sys-screenuploader</code> is a sysmodule which monitors <code>/Nintendo/Album</code> directory on your SD card for new files and uploads them to this website for further processing.
        </p>

        <hr>

        <h4>Implemented forwarding modules</h4>
        <ul>
            <li>Telegram</li>
            <li>Discord</li>
        </ul>

        <p>
            Feel free to request new modules and send other feature requests/proposals/bugreports (contacts below)
        </p>

        <hr>

        <h4>Installation</h4>
        <p>
            Download latest <a href="https://github.com/bakatrouble/sys-screenuploader/releases/latest" target="_blank">sys-screenuploader.zip</a>
            and extract it to SD card root.
        </p>
        <p>
            SX OS users: move <code>42000062616B6101</code> directory from <code>/atmosphere/contents</code> to <code>/sxos/titles</code>
        </p>
        <p>
            Signup on this website, create a destination and put its ID (visible on the destination list page) to <code>/config/sys-screenuploader/config.ini</code> under <code>destinations</code> section
            (you may replace <code>default</code> destination value or create a new one and set <code>default_destination</code> value under the <code>server</code> section to its name)
        </p>
        <p>
            Default configuration uploads captures to the <a href="https://discord.gg/c5qBqAA" target="_blank">#default-destination</a> channel on this project's Discord server (link below)
        </p>
        <p>
            If you want to use different destinations for some titles, add values under <code>title_settings</code> section following the example
        </p>
        <p>
            Configuration UI is TBD
        </p>
        <p>
            For logs see <code>/config/sys-screenuploader/screenuploader.log</code>
        </p>

        <hr>

        <h4>FAQ</h4>
        <div class="card text-white bg-info mt-2 mb-2">
            <div class="card-header">I can't open the log file</div>
            <div class="card-body">
                <div class="card-text">
                    The log file is inaccessible while the sysmodule is running.
                    Either stop the sysmodule (using Kosmos Toolbox or by any other means) or plug your SD card into another device.
                </div>
            </div>
        </div>
        <div class="card text-white bg-info mt-2 mb-2">
            <div class="card-header">Media are not being sent</div>
            <div class="card-body">
                <div class="card-text">
                    The sysmodule only detects newest screenshots.
                    Check the startup messages, if they say that the latest media has a future date, congratulations!<br>
                    This usually means that you're an Animal Crossing cheater and have took some captures "in future",
                    and the sysmodule will only detect media with a date later than your captures from future.<br>
                    To resolve this issue either delete all captures with a wrong date or move them outside the Album folder.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
