{% extends '_base.html' %}

{% block title %}Index{% endblock %}

{% block body %}
    <div class="container">
        <h1>sys-screenuploader</h1>

        <p>
        This is a forwarder service for <a href="https://github.com/bakatrouble/sys-screenuploader" target="_blank">sys-screenuploader</a>.
        </p>

        <p>
        <code>sys-screenuploader</code> is a sysmodule which monitors <code>/Nintendo/Album</code> directory on your SD card for new files and uploads them to this website for further processing.
        </p>

        <hr>

        <h4>Implemented forwarding modules</h4>
        <ul>
            <li>Telegram</li>
        </ul>

        <p>Feel free to request new modules and send other feature requests/proposals/bugreports (contacts below)</p>

        <hr>

        <h4>Installation</h4>
        <p>
        Download latest <a href="https://github.com/bakatrouble/sys-screenuploader/releases/latest" target="_blank">sys-screenuploader.zip</a>
        and extract it to SD card root.
        </p>
        <p>
        Signup on this website, create a destination and put its ID (visible on the destination list page) to <code>/config/sys-screenuploader/config.ini</code>
        </p>
        <p>
            If you use Kosmos CFW, you may move <code>42000062616B6101</code> directory from <code>/atmosphere/titles</code> to <code>/atmosphere/contents</code> and append following section to <code>/switch/KosmosToolbox/config.json</code> to add this sysmodule to Kosmos Toolbox "Background services" menu:
        </p>
        <p class="alert alert-light">
            <code>{"name": "sys-screenuploader", "tid": "42000062616B6101", "requires_reboot": false}</code>
        </p>
    </div>
{% endblock %}
